
ion-content{
  --background: #ffff00 url('../../assets/img/fundo.gif') no-repeat center center / cover !important;


}

.pergunta{
  font: size 20px;
  margin-top:50px;
  margin-left:8%;
  color:rgb(10, 172, 10);
  -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    margin-bottom: 30px;
}



.resposta{
  font: size 20px;
  margin-top:50px;
  margin-left:8%;
  color:rgb(255, 255, 255);
  -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0);
  margin-bottom: 30px;

}

ion-button{

  align-items: center;
  justify-content: center;
  margin-left: 30%;
}

.nova{margin-right: 5%;}
